label, 
.input-wrapper span,
.droparea-wrapper span {
  font: var(--body-text-sm);
  color: var(--text-body);

  display: block;
  margin-bottom: 1.2rem;
}


input, textarea {
  appearance: none;
  width: 100%;

  border: 1px solid var(--input-stroke);
  border-radius: 8px;
  padding: 1.3rem 1.6rem;
  font: var(--body-text-sm);
  color: var(--input-placeholder);
  background-color: var(--input-base);

  cursor: pointer;

  &:invalid {
    border-color: var(--danger);
  }

  &[required] + .error{
    display: flex;
    align-items: center;
    gap: .8rem;
    margin-top: .8rem;
    
    & span {
      margin-bottom: 0;
      font: var(--body-text-xs);
      color: var(--danger);
    }
  }

  &:not(:focus):valid + .error {
    display: none;
  }

  &:focus:valid + .error {
    display: none;
  }

}

input:focus,
textarea:focus {
  outline: 1px solid var(--brand-blue);
}

input[type="datetime-local"] {
  text-transform: uppercase;

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}

input::placeholder,
textarea::placeholder {
  color: var(--input-placeholder);
  font: var(--body-text-sm);
}

.input-wrapper {
  width: 100%;
}

.contact legend img {
  transform: translateY(-2px);
}
